<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
  <div class="col-12 col-lg-6">
      <img src="/img/hero-image.png" class="d-block mx-lg-auto img-fluid rounded-3" width="607" height="510" loading="lazy" alt="Cooking">
  </div>

  <div class="col-12 col-lg-6">
      <h1 class="display-5 fw-bold mb-3 text-success">Lựa chọn đa dạng các công thức nấu ăn thơm ngon</h1>
      <p class="lead text-muted">
          Khám phá vô vàn công thức nấu ăn hấp dẫn, từ món tráng miệng đơn giản, bữa tối bình thường và thuần chay thơm ngon, bánh nướng nhanh gọn, đến những bữa ăn ấm cúng cho gia đình.
      </p>

      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/explore-latest" class="btn btn-primary btn-lg px-4 py-3 me-md-2">Khám phá công thức mới nhất</a>
          <a href="/explore-random" class="btn btn-random btn-lg px-4 py-3">Làm tôi bất ngờ đi!</a>
      </div>
  </div>
</div>

<!-- Categories Section -->
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
  <% if(categories != '') { %>
      <% categories.forEach(function(category, index) { %>
          <a href="/categories/<%- category.name %>" class="col text-center category__link">
              <div class="category__img shadow rounded">
                  <img src="img/<%- category.image %>" alt="<%- category.name %>" loading="lazy">
              </div>
              <div class="pt-1 fw-bold"><%- category.name %></div>
          </a>
      <% }) %>
  <% } %>

  <a href="/categories" class="col text-center category__link">
      <div class="category__img shadow rounded">
          <img src="img/view-all.jpg" alt="View All Categories" loading="lazy">
      </div>
      <div class="pt-1 fw-bold">Xem tất cả</div>
  </a>
</div>

<!-- Latest Recipes Section -->
<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
      <h2 class="text-primary fw-bold" style="text-transform: uppercase;">Công thức mới nhất</h2>
      <a href="/explore-latest" class="ms-auto text-decoration-none text-muted">Xem thêm</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <% if(food != '') { %>
          <% food.latest.forEach(function(recipe, index){ %>
              <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
                  <div class="category__img category__img--large shadow rounded">
                      <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
                  </div>
                  <div class="pt-1 fw-bold"><%= recipe.name %></div>
              </a>
          <% }) %>
      <% } else { %>
          <p>No items found.</p>
      <% } %>
  </div>
</section>

<!-- Favorite Recipes Section -->
<% if (user) { %>
  <section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
      <h2 class="fw-bold" style="text-transform: uppercase; color: #ff4081;">Công thức yêu thích</h2>
      <a href="/favorites" class="ms-auto text-decoration-none text-muted">Xem thêm</a>
    </div>
  
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <% if(user.favorites.length > 0) { %>
          <% user.favorites.forEach(function(recipe) { %>
              <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
                  <div class="category__img category__img--large shadow rounded">
                      <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
                  </div>
                  <div class="pt-1 fw-bold"><%= recipe.name %></div>
              </a>
          <% }) %>
      <% } else { %>
          <p class="text-center">Bạn chưa có công thức yêu thích nào.</p>
      <% } %>
    </div>
  </section>
  <% } %>
  

<!-- Recipes by country-->
<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Công thức Việt</h2>
    <a href="/categories/Việt" class="ms-auto text-decoration-none text-muted">Xem thêm</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

    <% if(typeof food.vietnamese !== 'undifined' && food.vietnamese.length > 0) { %>
      <% food.vietnamese.forEach(function(recipe, index){ %>
      <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%= recipe.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>
</section>

<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Công thức Thái</h2>
    <a href="/categories/Thái" class="ms-auto text-decoration-none text-muted">Xem thêm</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

    <% if(typeof food.thai !== 'undifined' && food.thai.length > 0) { %>
      <% food.thai.forEach(function(recipe, index){ %>
      <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%= recipe.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>
</section>

<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Công thức Mỹ</h2>
    <a href="/categories/Mỹ" class="ms-auto text-decoration-none text-muted">Xem thêm</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

    <% if(typeof food.american !== 'undifined' && food.american.length > 0) { %>
      <% food.american.forEach(function(recipe, index){ %>
      <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%= recipe.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>
</section>

<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Công thức Trung</h2>
    <a href="/categories/Trung" class="ms-auto text-decoration-none text-muted">Xem thêm</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

    <% if(typeof food.chinese !== 'undifined' && food.chinese.length > 0) { %>
      <% food.chinese.forEach(function(recipe, index){ %>
      <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%= recipe.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>
</section>


<!-- Submit Start -->

<section class="px-4 py-5 my-5 text-center">
  <img src="/img/publish-recipe.png" class="d-block mx-auto mb-4 img-fluid" alt="Publish your recipe for FREE today" width="566" height="208" loading="lazy">
  <h1 class="display-5 fw-bold">Đăng công thức của bạn</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Chia sẻ công thức nấu ăn của bạn cho mọi người cùng thưởng thức.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/submit-recipe" class="btn btn-primary btn-dark btn-lg">Đăng công thức</a>
    </div>
  </div>
</section>
 

<!-- Submit End -->



